<header class="masthead">
  <div class="overlay">
    <div class="container">
      <h1 class="display-1 text-white">Get Ready</h1>
      <h2 class="display-4 text-white">For The Future Of Learning</h2>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-md-6 order-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="https://unsplash.it/500/500?random" alt="">
        </div>
      </div>
      <div class="col-xs-12 col-md-6 order-1">
        <div class="p-5">
          <h2 class="display-4">Schools</h2>
          <p><h3>Creative, curriculum-aligned and cost-effective programmes and lessons for teachers and students.</h3></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-md-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="https://unsplash.it/500/500?image=20" alt="">
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="p-5">
          <h2 class="display-4">Libraries</h2>
          <p><h3>Fun and engaging workshops for children, parents and seniors.</h3></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-md-6 order-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="https://unsplash.it/500/500?image=407" alt="">
        </div>
      </div>
      <div class="col-xs-12 col-md-6 order-1">
        <div class="p-5">
          <h2 class="display-4">Non-Profits</h2>
          <p><h3>Technical support and training with extensive experience in and a passion for supporting people with disability.</h3></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">&copy; Community Tech 2017 - <span class="text-muted"><%= Time.now %></span></p>
  </div>
  <!-- /.container -->
</footer>
