<div class="container">
  <br>
  <h1>About us</h1>
  <br>
  <p>Community Tech was founded to provide high-quality yet reasonably-priced ICT support and advice to organisations and individuals who work for the benefit of society and others: Schools, libraries and disability support organisations.</p>
</div>
