<div class="container">
  <br>
  <h1>Get in touch</h1>
  <br>
  <p>steve [at] communitytech dot com dot au</p>
  <br>
 <p>I'll make a proper contact form as soon as I learn how to do it in <a href="http://rubyonrails.org/">Ruby on Rails!</a></p>


</div>
